
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" type="button">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('search')">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('planets')">Planets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('species')">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('vehicles')">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('starships')">Starships</a>
      </li>
    </ul>
  </div>
</nav>


<body>
<div class="container">
	<div class="row">
<!-- LIST -->
    <div class=col-md-12>

        <form id="form-list-client">
                <legend>Lista de Naves</legend>

        <div class="pull-right">
            <button ctype="button" class="btn btn-primary" (click)="createNewStarship();"><i class="glyphicon glyphicon-plus"></i> Adicionar Nova Nave</button>
            <button type="button" class="btn btn-secondary" (click)="integrator()"><i class="glyphicon glyphicon-cloud"></i> Load Data From SWAPI</button>
        </div>
        <table class="table table-bordered table-condensed table-hover">
            <thead>
                <tr>
                    <td>Nome</td>
                    <th>Classificação</th>
                    <th>Custo em Créditos</th>
                    <th>Ações</th>
                </tr>

            </thead>
            <tbody id="form-list-client-body">
                <tr *ngFor="let starship of starship">
                    <td>{{starship.name}}</td>
                    <td width=40%>{{starship.starship_class}}</td>
                    <td>{{starship.cost_in_credits}}</td>
                    <td>
                        <button class="btn btn-default btn-sm "> <i class="glyphicon glyphicon-edit text-primary" (click)="updateStarship(starship)"></i> </button>
                        <button class="btn btn-default btn-sm " (click)="delete(starship)"> <i class="glyphicon glyphicon-trash text-danger"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
        </form>


    </div>
	</div>
</div>
</body>
