
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"type="button">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('search')">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('planets')">Planets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('species')">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('vehicles')">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('starships')">Starships</a>
      </li>
    </ul>
  </div>
</nav>

<ng-container *ngIf="species">
<div class ="container">

  <form (ngSubmit)="processForm()">
    <div class = "form group">
      <label for="title">Nome da Espécie: </label>
      <input type = "text" name = "name" class = "form-control" [(ngModel)]="species.name">
    </div>
    <div class = "form group">
      <label for="episode_id">Classificação: </label>
      <input type = "text" name = "classification" class = "form-control" [(ngModel)]="species.classification">
    </div>
    <div class = "form group">
      <label for="opening_crawl">Altura média: </label>
      <input type = "text" name = "average_height" class = "form-control" [(ngModel)]="species.average_height">
    </div>
    <div class = "form group">
      <label for="director">Vida média: </label>
      <input type = "text" name = "average_lifespan" class = "form-control" [(ngModel)]="species.average_lifespan">
    </div>
    <div class = "form group">
      <label for="producer">Cor dos olhos:  </label>
      <input type = "text" name = "eye_colors" class = "form-control" [(ngModel)]="species.eye_colors">
    </div>
    <div class = "form group">
      <label for="release_date">Cor de pele: </label>
      <input type = "text" name = "skin_colors" class = "form-control" [(ngModel)]="species.skin_colors">
    </div>
    <div class = "form group">
      <label for="species">Idioma: </label>
      <input type = "text" name = "language" class = "form-control" [(ngModel)]="species.language">
    </div>
    <div class = "form group">
      <label for="starships">Planeta Natal:  </label>
      <input type = "text" name = "surface_water" class = "form-control" [(ngModel)]="species.homeworld">
    </div>
    <div class = "form group">
      <label for="vehicles">Pessoas: </label>
      <input type = "text" name = "people" class = "form-control" [(ngModel)]="species.people">
    </div>
    <div class = "form group">
      <label for="characters">Filmes </label>
      <input type = "text" name = "films" class = "form-control" [(ngModel)]="species.films">
    </div>

    <button type="submit" value = "save" class="btn btn-success">Save</button>

  </form>
</div>
</ng-container>
