
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" type="button">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('search')">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('planets')">Planets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('species')">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('vehicles')">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('starships')">Starships</a>
      </li>
    </ul>
  </div>
</nav>

<ng-container *ngIf="film">
<div class ="container">

  <form (ngSubmit)="processForm()">
    <div class = "form group">
      <label for="title">Titulo do Filme: </label>
      <input type = "text" name = "title" class = "form-control" [(ngModel)]="film.title">
    </div>
    <div class = "form group">
      <label for="episode_id">Id do episódio: </label>
      <input type = "text" name = "episode_id" class = "form-control" [(ngModel)]="film.episode_id">
    </div>
    <div class = "form group">
      <label for="opening_crawl">Sinopse:  </label>
      <input type = "text" name = "opening_crawl" class = "form-control" [(ngModel)]="film.opening_crawl">
    </div>
    <div class = "form group">
      <label for="director">Diretor: </label>
      <input type = "text" name = "director" class = "form-control" [(ngModel)]="film.director">
    </div>
    <div class = "form group">
      <label for="producer">Produtor:  </label>
      <input type = "text" name = "producer" class = "form-control" [(ngModel)]="film.producer">
    </div>
    <div class = "form group">
      <label for="release_date">Data de Lançamento: </label>
      <input type = "date" name = "release_date" class = "form-control" [(ngModel)]="film.release_date">
    </div>
    <div class = "form group">
      <label for="species">Especies: </label>
      <input type = "text" name = "species" class = "form-control" [(ngModel)]="film.species">
    </div>
    <div class = "form group">
      <label for="starships">Naves:  </label>
      <input type = "text" name = "starships" class = "form-control" [(ngModel)]="film.starships">
    </div>
    <div class = "form group">
      <label for="vehicles">Veiculos: </label>
      <input type = "text" name = "vehicles" class = "form-control" [(ngModel)]="film.vehicles">
    </div>
    <div class = "form group">
      <label for="characters">Personagens </label>
      <input type = "text" name = "characters" class = "form-control" [(ngModel)]="film.characters">
    </div>
    <div class = "form group">
      <label for="planets">Planetas </label>
      <input type = "text" name = "planets" class = "form-control" [(ngModel)]="film.planets">
    </div>

    <button type="submit" value = "save" class="btn btn-success">Save</button>

  </form>
</div>
</ng-container>
