
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" type="button">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('search')">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('planets')">Planets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('species')">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('vehicles')">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('starships')">Starships</a>
      </li>
    </ul>
  </div>
</nav>

<ng-container *ngIf="starship">
<div class ="container">

  <form (ngSubmit)="processForm()">
    <div class = "form group">
      <label for="title">Nome da Nave: </label>
      <input type = "text" name = "name" class = "form-control" [(ngModel)]="starship.name">
    </div>
    <div class = "form group">
      <label for="episode_id">Classificação da nave: </label>
      <input type = "text" name = "starship_class" class = "form-control" [(ngModel)]="starship.starship_class">
    </div>
    <div class = "form group">
      <label for="opening_crawl">Fabricante: </label>
      <input type = "text" name = "manufacturer" class = "form-control" [(ngModel)]="starship.manufacturer">
    </div>
    <div class = "form group">
      <label for="director">Custo em créditos: </label>
      <input type = "text" name = "cost_in_credits" class = "form-control" [(ngModel)]="starship.cost_in_credits">
    </div>
    <div class = "form group">
      <label for="producer">Tamanho:  </label>
      <input type = "text" name = "length" class = "form-control" [(ngModel)]="starship.length">
    </div>
    <div class = "form group">
      <label for="release_date">Tripulação: </label>
      <input type = "text" name = "crew" class = "form-control" [(ngModel)]="starship.crew">
    </div>
    <div class = "form group">
      <label for="species">Capacidade de passageiros: </label>
      <input type = "text" name = "passengers" class = "form-control" [(ngModel)]="starship.passengers">
    </div>
    <div class = "form group">
      <label for="starships">Velocidade atmosferica máxima:  </label>
      <input type = "text" name = "max_atmosphering_speed" class = "form-control" [(ngModel)]="starship.max_atmosphering_speed">
    </div>
    <div class = "form group">
      <label for="vehicles">Classificação do HyperDrive: </label>
      <input type = "text" name = "hyperdrive_rating" class = "form-control" [(ngModel)]="starship.hyperdrive_rating">
    </div>
    <div class = "form group">
      <label for="characters">MGLT: </label>
      <input type = "text" name = "mglt" class = "form-control" [(ngModel)]="starship.mglt">
    </div>
    <div class = "form group">
      <label for="characters">Capacidade de carga: </label>
      <input type = "text" name = "cargo_capacity" class = "form-control" [(ngModel)]="starship.cargo_capacity">
    </div>
    <div class = "form group">
      <label for="characters">Consumiveis: </label>
      <input type = "text" name = "consumables" class = "form-control" [(ngModel)]="starship.consumables">
    </div>
    <div class = "form group">
      <label for="characters">Filmes: </label>
      <input type = "text" name = "films" class = "form-control" [(ngModel)]="starship.films">
    </div>
    <div class = "form group">
      <label for="characters">Pilotos: </label>
      <input type = "text" name = "pilots" class = "form-control" [(ngModel)]="starship.pilots">
    </div>

    <button type="submit" value = "save" class="btn btn-success">Save</button>

  </form>
</div>
</ng-container>
