
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" type="button">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('search')">Films</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('planets')">Planets</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('species')">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('vehicles')">Vehicles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" type="button" (click)="router('starships')">Starships</a>
      </li>
    </ul>
  </div>
</nav>

<ng-container *ngIf="planet">
<div class ="container">

  <form (ngSubmit)="processForm()">
    <div class = "form group">
      <label for="title">Nome do Planeta: </label>
      <input type = "text" name = "name" class = "form-control" [(ngModel)]="planet.name">
    </div>
    <div class = "form group">
      <label for="episode_id">Diametro: </label>
      <input type = "text" name = "diametro" class = "form-control" [(ngModel)]="planet.diameter">
    </div>
    <div class = "form group">
      <label for="opening_crawl">Periodo de Rotação:  </label>
      <input type = "text" name = "rotation_period" class = "form-control" [(ngModel)]="planet.rotation_period">
    </div>
    <div class = "form group">
      <label for="director">Gravidade: </label>
      <input type = "text" name = "gravity" class = "form-control" [(ngModel)]="planet.gravity">
    </div>
    <div class = "form group">
      <label for="producer">População:  </label>
      <input type = "text" name = "population" class = "form-control" [(ngModel)]="planet.population">
    </div>
    <div class = "form group">
      <label for="release_date">Clima: </label>
      <input type = "text" name = "climate" class = "form-control" [(ngModel)]="planet.climate">
    </div>
    <div class = "form group">
      <label for="species">terrain: </label>
      <input type = "text" name = "terrain" class = "form-control" [(ngModel)]="planet.terrain">
    </div>
    <div class = "form group">
      <label for="starships">Superficie da Água:  </label>
      <input type = "text" name = "surface_water" class = "form-control" [(ngModel)]="planet.surface_water">
    </div>
    <div class = "form group">
      <label for="vehicles">Residentes: </label>
      <input type = "text" name = "residents" class = "form-control" [(ngModel)]="planet.residents">
    </div>
    <div class = "form group">
      <label for="characters">Filmes </label>
      <input type = "text" name = "films" class = "form-control" [(ngModel)]="planet.films">
    </div>

    <button type="submit" value = "save" class="btn btn-success">Save</button>

  </form>
</div>
</ng-container>
